/* ==========================================================================
    Application variables and properties
   ========================================================================== */

:root {

    /* Colors
       ---------------------------------------------------------------------- */
    /* site */
    --brightgrey: rgb(231, 231, 231);
    --dustgrey: rgb(90, 90, 90);
    --deepgrey: rgb(60, 60, 60);
    --shadowgrey: rgb(30, 30, 30);

    /* social */
    --facebook: #435595;
}

/* Custom selectors
   -------------------------------------------------------------------------- */
@custom-selector :--enter :hover, :focus;
@custom-selector :--icon [class^='icon-'], [class*=' icon-'];
@custom-selector :--input [type=text], [type=password], [type=url], [type=search];

/* Custom Media Queries (mobile first approach)
   -------------------------------------------------------------------------- */
/**
 * Usage :
 *
 * .my-class-selector {
 *      @media (--medium-screen) {
 *          [style properties here for medium+ screens]
 *      }
 *  }
 */
@custom-media --extra-small-screen only screen and (min-width: 375px);
@custom-media --small-screen only screen and (min-width: 480px);
@custom-media --medium-screen only screen and (min-width: 768px);
@custom-media --large-screen only screen and (min-width: 1024px);
@custom-media --extra-large-screen only screen and (min-width: 1200px);
@custom-media --super-large-screen only screen and (min-width: 1440px);
