/* ==========================================================================
    Event styles
   ========================================================================== */
@import '_vars.css';

.Event {
  max-width: 600px;
  margin: 0 auto;
}

.Event-description {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: silver;
  @media(--small-screen) {
    border-width: 1px;
  }
}

/* Content
   -------------------------------------------------------------------------- */
.Event-content {
  padding: 15px 18px 9px;
  background-color: whitesmoke;
}

.Event-title {
  margin: 0 0 15px;
}

.Event-title > h1 {
  display: inline;
  color: var(--deepgrey);
  line-height: 1.1;
}

.Event-title .sticker {
  margin-left: 12px;
  vertical-align: .3em;
}

.Event-meta {
  border-top: 1px solid gainsboro;
  padding-top: 12px;
  margin-bottom: 12px;
}

.Event-date,
.Event-place {
  position: relative;
  padding-left: 2.1rem;
  line-height: 1.2;
}

.Event-date :--icon,
.Event-place :--icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.Event-place {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.Event-place > div {
  flex: 2;
}

.Event-place > div > span {
  display: block;
  color: darkgrey;
  font-size: .9rem;
}

.Event-place-link {
  white-space: nowrap;
  font-size: .9rem;
  margin-left: 9px;
}

.Event-links {
  border-top: 1px solid gainsboro;
  padding: 12px 0 0 0;
  margin: 12px 0;
  font-size: .9rem;
}

.Event-links > span {
  display: block;
  font-weight: 600;
}

.Event-links > ul {
  list-style: none;
  margin: 0 0 0 6px;
  padding-left: 0;
}

.Event-links > ul > li {
  margin-top: 6px;
}

.Event-links :--icon {
  color: grey;
  margin-right: 9px;
}

.Event-links .icon-ra {
  vertical-align: middle;
}

.Event-links a {
  color: dimgrey;
}

/* Line up
   -------------------------------------------------------------------------- */
.Event-lineup {
  font-size: 1.1rem;
  background-color: whitesmoke;
  margin-top: 30px;
  border-width: 1px 0;
  border-style: solid;
  border-color: silver;
  @media(--small-screen) {
    border-width: 1px;
  }
}

.Event-lineup > strong {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  background-color: var(--brightgrey);
  text-transform: uppercase;
  margin: 0;
  padding: 6px 9px;
  letter-spacing: 1px;
}

.Event-lineup > ul {
  list-style: none;
  padding: 12px 18px 0;
  margin: 0;
}

.Event-lineup > ul > li {
  margin-bottom: 12px;
  @media(--small-screen) {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 9px);
    &:nth-child(2n) {
      margin-left: 18px;
    }
  }
}
