/* ==========================================================================
   Header styles
   ========================================================================== */
@import '_vars.css';

.Header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.7rem;
  background: linear-gradient(to bottom right, coral, tomato);
  z-index: 2;
  @media (--small-screen) {
    top: 0;
    bottom: auto;
  }
}

.Header-content {
  height: 100%;
  @media (--small-screen) {
    max-width: 900px;
    margin: 0 auto;
  }
}

.Header-logo {
  display: inline-block;
  width: calc(3rem * 560/420 + 12px);
  height: 100%;
  padding: 6px 9px 6px;
  background-color: var(--deepgrey);
  vertical-align: top;
}

.Header-logo > svg {
  width: auto;
  height: 100%;
  color: coral;
}

/* Navigation
   -------------------------------------------------------------------------- */
.Header [role=navigation] {
  font-weight: 700;
  display: inline-block;
  width: calc((100% - 3rem * 560/420 - 12px) * 0.75);
  height: 100%;
  @media(--small-screen) {
    width: auto;
    padding: 9px 0;
  }
}

.Header [role=navigation] > ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Nav-item {
  display: inline-block;
  width: 33.333%;
  height: 100%;
  text-align: center;
  @media(--small-screen) {
    width: auto;
    margin-left: 12px;
  }
}

.Nav-item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--deepgrey);
  padding: 9px;
  &:--enter {
    color: var(--shadowgrey);
    background-color: rgba(0,0,0,.12);
    text-decoration: inherit;
  }
  &[aria-current=true] {
    color: whitesmoke;
    background-color: rgba(0,0,0,.3);
  }
  @media(--small-screen) {
    padding: 3px 9px;
    border-radius: 2px;
  }
}

.Nav-item :--icon {
  height: 100%;
  width: auto;
  vertical-align: top;
  @media(--small-screen) {
    display: none;
  }
}

.Nav-item span {
  display: none;
  @media(--small-screen) {
    display: inherit;
  }
}
