/* ==========================================================================
   Login styles
   ========================================================================== */
@import '_vars.css';

.Login {
  font-size: 1.1rem;
  width: 300px;
  margin: 90px auto;
  padding: 30px;
  background-color: silver;
  &:after {
    content: " ";
    display: table;
    clear: right;
  }
}

.Login label {
  font-weight: 600;
}

.Login input[type=text],
.Login input[type=password] {
  display: block;
  width: 100%;
  margin: 12px 0 24px;
}

.Login input[type=submit] {
  color: whitesmoke;
  font-weight: 600;
  width: 100%;
  padding: 3px 6px 6px;
  background-color: tomato;
}
